/* ============ Estrutura basica ======== */

*{
    margin: 0;
    padding: 0;
}


body,html{
    width: 1240px;
    height: 595px;
    background-color:#808080;
}

.fundo{
    background: url(imagens/fundo1.jpg) repeat-x;
}


/* ============ Estrutura do menu ======= */

#menu{
    width: 1240px;

}
#menu ul{
    padding: 40px;
    background: url(imagens/fundo1.jpg) repeat-x #1C1C1C;
    list-style: none;
}

#menu ul li{
    position: relative;
    display: inline;
    letter-spacing: 1px;
    padding: 35px;
}

#menu ul li a{
    font-family: Arial Black;
    text-decoration: none;
    color:#4F4F4F;
}

#menu ul li a:hover{
    color:#FFE4C4;
}



 /* ============ Estrutura conteudo/texto inicial ======== */

#conteudo{
    width: 1000px;
    height: 400px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

 /* ============= Estrutura footer ======= */

 footer{
    border: 1px solid red;
    margin-top: 287px;
    padding: 85PX;
    background: #1C1C1C;
    border: 1px solid red;
   
}
.texto-footer{
    text-align: center;
    color: white;
 
}

/* =============== Estrutura bio ============= */

#bio{
    color: #FAF0E6;
    font-family: Noto Sans, sans-serif;
}

#bio h2{
    margin-left: 450px;
    margin-top: 35px;
}

#bio p{
    padding: 35px;
    letter-spacing: 0.8px;
}

 

/* ======= Esttrutura portifilio/jobs ========--- */

#portifolio{
    color: white;
}
